body#gsr.hp.vasq{
    background-image: url(“C:\Users\mlee\Documents\GitHub\darkExtension\9-black-texture-Free-Dark-Backgrounds.jpg");
   }
   
   div.gb_xe.gb_R.gb_Me.gb_Ee {
    font-weight: bold;
    font-size: 15px;
   }